.boton-contenedor {
    height: 48px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: large;
    background-color: aquamarine;
    color: black;
    border-radius: 25px;
    border: 2px solid black;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.boton-contenedor:hover {
    background-color: rgb(223, 255, 244);
}

.operador {
    background-color: aqua;

}

.operador:hover {
    background-color: rgb(213, 255, 255);

}